<h1>Editing Book</h1>

<%= form_with model: @Book, url: '/books', method: :post do  |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
  
  <p><%= f.submit 'Update Book' %></p>
  
  <p>
    <%= link_to "show",root_path %>|
    <%= link_to "back",root_path %>
  </p>
<% end %>